In [17]:
import numpy as np
import yfinance as yf
import pandas as pd
import os

In [3]:
btc_ticker = yf.Ticker("BTC-USD") # doanload price history of btc

In [4]:
btc = btc_ticker.history(period= "max")

In [8]:
btc.index = pd.to_datetime(btc.index)

In [9]:
btc.columns = [c.lower() for c in btc.columns ]
btc["tomorrow"] = btc["close"].shift(-1)

In [10]:
del btc["stock splits"]
del btc["dividends"]

In [11]:
btc

,open,high,low,close,volume,tomorrow
Date,,,,,,
2014-09-17 00:00:00+00:00,465.864014,468.174011,452.421997,457.334015,21056800,424.440002
2014-09-18 00:00:00+00:00,456.859985,456.859985,413.104004,424.440002,34483200,394.795990
2014-09-19 00:00:00+00:00,424.102997,427.834991,384.532013,394.795990,37919700,408.903992
2014-09-20 00:00:00+00:00,394.673004,423.295990,389.882996,408.903992,36863600,398.821014
2014-09-21 00:00:00+00:00,408.084991,412.425995,393.181000,398.821014,26580100,402.152008
...,...,...,...,...,...,...
2022-12-12 00:00:00+00:00,17102.500000,17212.564453,16899.394531,17206.437500,19617581341,17781.318359
2022-12-13 00:00:00+00:00,17206.441406,17930.085938,17111.763672,17781.318359,26634741631,17815.650391
2022-12-14 00:00:00+00:00,17782.066406,18318.531250,17739.513672,17815.650391,25534481470,17364.865234
2022-12-15 00:00:00+00:00,17813.644531,17846.744141,17322.589844,17364.865234,20964448341,16880.808594
2022-12-16 00:00:00+00:00,17367.843750,17505.146484,16811.851562,16880.808594,22151374848,NaN

In [12]:
btc["target"] = (btc["tomorrow"] > btc["close"]).astype(int)
btc

,open,high,low,close,volume,tomorrow,target
Date,,,,,,,
2014-09-17 00:00:00+00:00,465.864014,468.174011,452.421997,457.334015,21056800,424.440002,0
2014-09-18 00:00:00+00:00,456.859985,456.859985,413.104004,424.440002,34483200,394.795990,0
2014-09-19 00:00:00+00:00,424.102997,427.834991,384.532013,394.795990,37919700,408.903992,1
2014-09-20 00:00:00+00:00,394.673004,423.295990,389.882996,408.903992,36863600,398.821014,0
2014-09-21 00:00:00+00:00,408.084991,412.425995,393.181000,398.821014,26580100,402.152008,1
...,...,...,...,...,...,...,...
2022-12-12 00:00:00+00:00,17102.500000,17212.564453,16899.394531,17206.437500,19617581341,17781.318359,1
2022-12-13 00:00:00+00:00,17206.441406,17930.085938,17111.763672,17781.318359,26634741631,17815.650391,1
2022-12-14 00:00:00+00:00,17782.066406,18318.531250,17739.513672,17815.650391,25534481470,17364.865234,0
2022-12-15 00:00:00+00:00,17813.644531,17846.744141,17322.589844,17364.865234,20964448341,16880.808594,0
2022-12-16 00:00:00+00:00,17367.843750,17505.146484,16811.851562,16880.808594,22151374848,NaN,0

In [13]:
btc["target"].value_counts()

1    1608
0    1405
Name: target, dtype: int64

In [28]:
#training the machine
#from sklearn import datasets
from sklearn.ensemble import RandomForestClassifier

model = RandomForestClassifier(n_estimators=100, min_samples_split=50, random_state=1)
train = btc.iloc[:200]
test = btc[-200:]

predictors = ["close", "volume", "open", "high","low"]
model.fit(train[predictors], train["target"])

ModuleNotFoundError: No module named 'sklearn.ensemble'; 'sklearn' is not a package

In [27]:
from sklearn.metrics import precision_score

ModuleNotFoundError: No module named 'sklearn.ensemble'; 'sklearn' is not a package